body {
  background-color: #808080;
  margin: 0;
  padding: 0;
}
.test {
  width: 100px;
  height: 100px;
  background: #318b37;

  .svg {
    background: #fff;
    border: rgb(207, 19, 19);
  }
}
